@charset "UTF-8";

* {
    margin: 0 auto;
    width: 100%;
}

body {
    display: inline-block;
}

ul {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    max-width: 400px;
}

ul li {
    list-style: none;
    margin-bottom: 25px;
}

tiutlo {
    margin: 10px;
    text-align: center;
}

img {
    max-width: 450px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
    margin: 8px 0;
}